
.tooltip {
    position: fixed;
    background: #232428;
    border: solid 1px #2e2a25;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition:  0.15s ease;
    z-index: 3000;
}
.tooltip.visible {
    opacity: 1;
}
.cursor-toast {
    position: fixed;
    background: #232428;
    border: solid 1px #2e2a25;
    color: #e66c6e;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    z-index: 3001;
    transition: opacity .5s ease;
}
.cursor-toast.visible {
    opacity: 1;
}


html,body {
    font-family: ui-monospace, 'Cascadia Code', 'Segoe UI Mono', 'Roboto Mono', Menlo, Monaco, monospace;
    height: 100%;
    margin: 0;
    user-select:none;
    -webkit-user-drag: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.spinner {
    width: 28px;
    height: 28px;
    margin-top: 15px;
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-top: 3px solid #e66c6e;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    background: #141210;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
.loader.finished {
    opacity: 0;
    pointer-events:none;
}
.FCM-bar, .Rustplus-bar {
    border: solid 1px #2e2a25;
    width: 50%;
    height: 6px;
    overflow: hidden;
}
.Rustplus-progress, .FCM-progress {
    height: 100%;
    width: 0;
    background: #e66c6e;
    transition: width 0.3s ease;
}


.app {
    display: grid;
    grid-template-columns: 72px 250px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px #2e2a25;
    gap: 4px;
    padding: 10px;
    user-select:none;
}
.sidebar-server-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align:center;
}
.sidebar-content {
    gap:4px;
}
.sidebar-header {
    background: transparent;
    border: solid 1px #2e2a25;
    font-size: 10px;
    width: 230px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-item {
    background: transparent;
    border: solid 1px #2e2a25;
    width: 230px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 4px;
}
.sidebar-item.active {
    background: rgba(46,42,37,0.8);
}
.sidebar-item:hover {
    background: rgba(46,42,37,0.4);
}
.server-settings-button {
    margin-top: auto;
    background: transparent;
    border: solid 1px #2e2a25;
    width: 230px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 4px;
}

.server-sidebar {
    border: solid 1px #2e2a25;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-right: none;
    overflow-y:auto;
}
.server-sidebar-content::-webkit-scrollbar {
    display:none;
}
.server-sidebar-content {
    align-items: center;
    padding-top: 12px;
    gap: 12px;
    flex-direction: column;
    display: flex;
    overflow-y:auto;
    flex: 1;
    width:100%;
}
.server-sidebar-footer {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}
@keyframes badgeSpawn {
    from {
        opacity: 0;
        scale: 0.5;
        border-radius: 50%;
    }
    to {
        opacity: 1;
        scale: 1;
        border-radius: 30%;
    }
}
.server-badge {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    flex: 0 0 48px;
    border: solid 1px #2e2a25;
    overflow:hidden;
    border-radius: 30%;
    animation: badgeSpawn .3s ease forwards;
    transition: 0.15s ease;
}


.server-badge:hover {
    scale: 1.1;
}
.server-badge:active {
    scale: 0.9;
    transition: scale 0.1s ease;
}
.server-badge.active {
    scale: 1.2;
    border: solid 1px #a69e94;
    border-radius: 20%;
}
.server-badge * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-badge {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    border: solid 1px #2e2a25;
}



.main {
    position: relative;
}
.main-loader {
    background: #141210;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
.main-loader.finished {
    opacity: 0;
    pointer-events:none;
}
.main-loader-error {
    background: #141210;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2001;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.main-loader-error .main-exclamation-error {
    color: #e66c6e;
    font-size: 50px;
}
.main-loader-error .main-header-error {
    font-size: 20px;
}
.main-content {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    border: solid 1px #2e2a25;
    border-left: none;
    padding: 20px;
    gap: 20px;
}
.main-card {
    background: transparent;
    border: solid 1px #2e2a25;
    padding: 15px;
}






.server-settings-overlay {
    position: absolute;
    inset:0;
    z-index: 2998;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.main-settings-overlay {
    position: fixed;
    inset:0;
    z-index: 2999;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.visible {
    opacity: 1;
    pointer-events: all;
}